@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}
.awssld__wrapper {
    height: 500px !important;
    overflow: hidden !important;
}

.App {
    /* Your common styles for both dark and light modes */
  }
  
.App.dark {
/* Dark mode styles */
background-color: #333;
color: #fff;
}

.App.light {
/* Light mode styles */
background-color: #fff;
color: #333;
}
  
  
  
  
  
  